*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html {
  background-color: #ffdbe5;
  color: #aa7f6f;
  font-size: 14px;
}
 
header { 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: center;
  padding: 20px 50px;
}

nav a{ 
  color: #ff5c89;;
  text-decoration: none; 
  font-weight: bold; 
  padding: 5px; 
}

nav a:hover {
  color: #402060;
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: auto;
}

.intro {
  display: flex; 
  flex-direction: column;
  align-items: flex-start; 
}
  
.intro h1 {
  font-size: 30px;
  color: #7f5836;
  text-transform: uppercase; 
}

.intro h2 {
  font-size: 20px; 
  text-transform: lowercase;
}


.meet-team { 
  display: flex; 
  flex-direction: column;
  padding: 30px 20px 20px 0px; 
} 

.members { 
  display: flex;
  height: 400px;
  font-size: 16px;
  font-weight: bold;
  text-align: center; 
  background-size: cover;
  background-position: center;
  padding: 0px;
}

.memone, .memtwo, .memthree, .memfour { 
  width: 75%;
  height: 400px;
  background-size: cover;
  background-position: center;
}


.memone { 
  background-image: url("https://i.pinimg.com/736x/0f/5c/4f/0f5c4fa7dc7db0c43fe3b8446e15bf22.jpg");
} 

.memtwo { 
  background-image: url("https://i.pinimg.com/736x/fc/af/6f/fcaf6f03e93790278fa6e238f3d23a96.jpg");
} 

.memthree { 
  background-image: url("https://i.pinimg.com/736x/20/15/ec/2015ec15371f3e75e9e021f915c266cf.jpg");
} 

 .memfour { 
   background-image: url("https://i.pinimg.com/736x/af/30/e6/af30e61c1e4303d3923d8d6cd3b97819.jpg");
 }

.our-work {
  display: flex;
}

.our-work h2 {
  text-align: right;
}

.container {
  width: 33%;
}

.imgone, .imgtwo, .imgthree {
  height: 300px;
  width: 100%; 
  background-size: cover;
  background-position: center; 
}

.imgone {
  background-image: url("https://i.pinimg.com/736x/d7/54/ea/d754ea7dc92f926b22ff625eb107a0ca.jpg")
}


.imgtwo {
  background-image: url("https://i.pinimg.com/736x/bb/22/48/bb224826faf0311417a5e8a8917ef4a1.jpg")
}

.imgthree {
  background-image: url("https://i.pinimg.com/1200x/93/5a/d2/935ad23dc560d5401a2d03fa6f5dfe12.jpg")
}

